
.footer {
    color: var(--text-color);
    border-top: 0.1rem  var(--text-color);
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--header-bg-color);
    :global(a) {
        color: var(--text-color);
        padding-left: 10px;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 0.8rem 0;
        font-size: 0.7rem
    }
}